# /system/lib/omx/
allow mediacodec system_file:dir r_dir_perms;

# /sys/class/video4linux/*
r_dir_file(mediacodec, sysfs_v4l);

# /dev/seiren
allow mediacodec seiren_device:chr_file { ioctl rw_file_perms };
